.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
  }

.modal .container{
    display: flex;
    flex-direction: column;
    border-bottom: solid 1px #000000;
  }
.modal h3{
    text-align: center;
    text-transform: uppercase;
    color: #007ced;
}

.modal h4{
    text-align: center;
    margin-top: 10px;
    text-transform: uppercase;
    color: #007ced;
}

.modal p{
    text-align: center;
    margin-top: 10px;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 15px;
}

.modal img{
    height: 20rem;
    width:  65%;
  }
.modal-content {
    background-color: #ffffffff;
    margin: 0 auto;
    border-radius: 3%;
    padding: 15px;
    width: 40%;
  }

.modal .skills{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-top: 15px;
}

.modal .skills i{
    font-size: 2.4rem;
}

.modal i{
    font-size: 1.7rem;
    color: #000000;
}
.close{
    cursor: pointer;
}


@media (max-width: 930px) {
    .modal img{
        height: 12rem;
    }

    .modal-content {
        background-color: #ffffffff;
        margin: 0 auto;
        border-radius: 3%;
        padding: 15px;
        width: 70%;
      }
}


@media (max-width: 400px) {
      .modal p{
        font-family: 'Courier New', Courier, monospace;
        font-size: .6rem;
    }
}